body {
    height: 110vh;
    background-image: url("../images/blurrynyc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    margin: 0;
}

/*margin: 0 to get rid of left side space*/

h1 {
	font-family: 'Clicker Script', cursive;
	font-style: thin;
	text-align: center;
	color: rgba(242, 245, 249,1);
	font-size: 800%;
	z-index: 2;
}

.toolbar {
	width: 80%;
	height: 5%;
	background-color: #595959;
	z-index: 10;
	border-radius: 12px;
	top: 23%;
	position: fixed;
	margin: auto;
	left: 10%;
	margin: 0;

}

ul {
	list-style-type: none;
 	margin: 0;
  	padding: 0;
  	display: inline;
  	font-weight: 10000;
}

li {
	display: inline;
	padding-top: 1.5%;
	border-right: 2px solid rgba(242, 245, 249,1);
}

li a {
  display: inline;
  text-align: center;
  margin-left: 7%;
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  color: rgba(242, 245, 249,1);
  font-size: 175%;
  margin-right: 7%;
  
}

li:last-child {
  border-right: none;
}


.typewriter h1 {
  overflow: hidden;

  border-right: .05em solid pink;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: normal;
  animation: 
    typing 3.5s steps(17, end),
    blink-caret .65s step-end infinite;
  animation-iteration-count: 1;
    z-index: 2
}

@keyframes typing {
  from { width: 0 }
  to { width: 75% }
}

@keyframes blink-caret {
  from { border-color: transparent; }
  50% { border-color: lightpink; }
  100% {background-color: black;}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}




  