h2 {
	font-family: 'Clicker Script', cursive;
	color: #ffee00;
	
	font-size: 600%;
	text-align: center;
	padding-bottom: 0px;
	position: relative;
	top: -75px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom: 0px;
}

#stroke {
	 text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}


h1 {
	font-family: 'Clicker Script', cursive;
	font-style: thin;
	text-align: center;
	color: rgba(242, 245, 249,1);
	font-size: 800%;
	z-index: 2;
	padding-top: 8px;
	margin-top: 0px;
	background: #4f4f4f;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}


.toolbar {
	width: 80%;
	height: 5%;
	background-color: rgb(135, 135, 135);
	z-index: 10;
	border-radius: 12px;
	top: 23%;
	position: fixed;
	margin: auto;
	left: 10%;
	margin: 0;

}

ul {
	list-style-type: none;
 	margin: 0;
  	padding: 0;
  	display: inline;
  	font-weight: 10000;
}

li {
	display: inline;
	padding-top: 1.5%;
	border-right: 2px solid #ffee00;
}

li a {
  display: inline;
  text-align: center;
  margin-left: 7%;
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  color: white;
  font-size: 175%;
  margin-right: 7%;
  
}


li:last-child {
  border-right: none;
}

.social {
	border-radius: 300px;
	background-color: pink;
	width: 200px;
	height: 200px;
	display: inline-flex;
	margin-left: 70px;
	padding-top: 0px;
	bottom: 70px;
	position: relative;
}



#Twitter {
	background-image: url('../images/twitter.png');
	background-size: 200px 200px;
	background-repeat: no-repeat;
	border: 10px solid #ffee00;
	margin-left: 5%;
}

#Instagram {
	background-image: url('../images/instagram.png');
	background-size: 200px 200px;
	background-repeat: no-repeat;
	border: 10px solid #ffee00;
}

#YouTube{
	background-image: url('../images/youtube.png');
	background-size: 210px 210px;
	background-repeat: no-repeat;
	border: 10px solid #ffee00;
	position: relative;
}

#LinkedIn {
	background-image: url('../images/linkedin.png');
	background-size: 210px 210px;
	background-repeat: no-repeat;
	border: 10px solid #ffee00;
	position: relative;
}

p {
	display: inline;
	padding-left: 14%;
	font-family: 'Heebo', sans-serif;
	position: relative;
	font-size: 200%;
	position: relative;
	bottom: 50px;
}

.left {
	padding-left: 10%;
}

.middle {
	padding-left: 5%;
}

.last {
	padding-right: 20z0%;
}

a {
	padding: 0;
}

#blurb {
	text-align: center;
	padding-left: 15%;
	position: relative;
	bottom: 90px;
	font-size: 150%;

}







