<!DOCTYPE html>
<html>
<head>
	<title>Devin Walsh</title>
	<link rel="stylesheet" href="../stylesheets/finalresume.css"/>
	<link href="https://fonts.googleapis.com/css?family=Clicker+Script|Heebo:800|Quicksand" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/finalresume.js"></script>
</head>
<body>

	<div class="typewriter">
		<h1>Devin Walsh</h1>
		<a href="../index.html"></a>
	</div>
	<div class="toolbar">
		<ul id="menu">
  			<li id="contact"><a href="finalcontact.html">contact</a></li>
  			<li id="connect"><a href="finalconnect.html">connect</a></li>
  			<li id="resume"><a href="finalresume.html">resume</a></li>
  			<li id="about"><a href="finalaboutme.html">about</a></li>
		</ul>
	</div>
	<h2 id="stroke">My Resume</h2>
	<img src="../images/resume.png" width="70%" height="70%">
</body>
</html>