<!DOCTYPE html>
<html>
<head>
	<title>Devin Walsh</title>
	<link rel="stylesheet" href="../stylesheets/finalconnect.css"/>
	<link href="https://fonts.googleapis.com/css?family=Clicker+Script|Heebo:800|Quicksand" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/finalconnect.js"></script>
</head>
<body>

	<div class="typewriter"ind>
		<h1>Devin Walsh</h1>
	</div>
	<div class="toolbar">
		<ul id="menu">
  			<li id="contact"><a href="finalcontact.html">contact</a></li>
  			<li id="connect"><a href="finalconnect.html">connect</a></li>
  			<li id="resume"><a href="finalresume.html">resume</a></li>
  			<li id="about"><a href="finalaboutme.html">about</a></li>
		</ul>
	</div>
	<h2 id="stroke">Connect</h2>
	<p id="blurb">Click on any of the social media platforms to open a new tab on my profile!</p>

	<a href="https://twitter.com/dwalshcupcake" target="_blank">
		<div class="social" id="Twitter">
		</div>
	</a>
	<a href="https://www.instagram.com/walshcupcake/?hl=en" target="_blank">
		<div class="social" id="Instagram">
		</div>
	</a>
	<a href="https://www.youtube.com/channel/UCM0fpmGXlGuIE_gKjxBECEQ" target="_blank">
		<div class="social" id="YouTube">
		</div>
	</a>
	<a href="https://www.linkedin.com/in/devin-w-a41945137/" target="_blank">
		<div class="social" id="LinkedIn">
		</div>
	</a>
	<p class="left">
		Twitter
	</p>
	<p>
		Instagram
	</p class="middle">
	<p>
		YouTube
	</p>
	<p class="last">
		LinkedIn
	</p>

</body>
</html>