<!DOCTYPE html>
<html>
<head>
	<title>Devin Walsh</title>
	<link rel="stylesheet" href="../stylesheets/finalcontact.css"/>
	<link href="https://fonts.googleapis.com/css?family=Clicker+Script|Heebo:800|Quicksand" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/finalcontact.js"></script>
</head>
<body>

<div class="gradient">
	<div class="typewriter">
		<h1>Devin Walsh</h1>
		<a href="../index.html"></a>
	</div>
	<div class="toolbar">
		<ul id="menu">
  			<li id="contact"><a href="finalcontact.html">contact</a></li>
  			<li id="connect"><a href="finalconnect.html">connect</a></li>
  			<li id="resume"><a href="finalresume.html">resume</a></li>
  			<li id="about"><a href="finalaboutme.html">about</a></li>
		</ul>
	</div>
</div>
	<h2>Contact Me</h2>
		<form method="post" action="#">
			<div id="box">
				<div>
					<input type="text" name="name" id="name" value="" placeholder="Name"/>
				</div>
				<div >
					<input type="email" name="email" id="email" value="" placeholder="Email"/>
				</div>
				<div >
					<input type="phone" name="phone" id="phone" value="" placeholder="Phone Number"/>
				</div>
				<div>
					<textarea placeholder="Additional comments" id="comments" rows="6"></textarea>
				</div>
				<div >
					<ul class="actions">
						<li><input type="submit" value="Submit" id="button" class="primary"/></li>
						<li><input type="reset" id="button" value="Reset"/></li>
					</ul>
				</div>
			</div>
		</form>
	</p>


</div>

</body>
</html>